<ion-content>
  <div class="sign-up ion-padding">
    <ion-button fill="clear" shape="round" class="back-password" routerLink="/login">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <div class="heading ion-padding">
      <h1>Sign up now</h1>
    </div>
    <div class="login-form ion-padding">
      <div class="form input">
        <ion-item>
          <ion-label position="floating" color="medium">Enter your first name</ion-label>
          <ion-input type="firstname"></ion-input>
        </ion-item>
      </div>
      <div class="form input">
        <ion-item>
          <ion-label position="floating" color="medium">Enter your last name</ion-label>
          <ion-input type="lastname"></ion-input>
        </ion-item>
      </div>
      <div class="form input">
        <ion-item>
          <ion-label position="floating" color="medium">Enter your Username</ion-label>
          <ion-input type="username"></ion-input>
        </ion-item>
      </div>
      <div class="form input">
        <ion-item>
          <ion-label position="floating" color="medium">Enter your email address</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form input">
        <ion-item>
          <ion-label position="floating" color="medium">Enter your contact number</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button shape="round" size="large" class="confirm-button">Create Account</ion-button>
    </div>
  </div>
</ion-content>